.link {
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  border-radius: 0.75rem;
  padding: 1rem;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.438;
}

.arrow {
  width: 1.25rem;
  height: 1.25rem;
  opacity: 0;
  transition: margin 0.2s ease-in-out, opacity 0.1s ease-in-out;
}

.arrow svg {
  width: 100%;
  height: 100%;
}

.arrowLeft {
  margin-right: 1rem;
}

.arrowRight {
  margin-left: 1rem;
  transform: rotate(180deg);
}

.link:hover .arrow {
  opacity: 1;
}

.link:hover .arrow.arrowLeft {
  margin-right: 0.5rem;
}

.link:hover .arrow.arrowRight {
  margin-left: 0.5rem;
}

.linkPrimary {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.linkPrimary:hover {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.linkSecondary {
  background: rgba(0, 255, 255, 0.3);
  border: 1px solid rgba(0, 255, 255, 0.6);
}

.linkSecondary:hover {
  background: rgba(0, 255, 255, 0.5);
  border: 1px solid rgba(0, 255, 255, 1);
}

.linkTertiary {
  background: rgba(108, 198, 68, 0.3);
  border: 1px solid rgba(108, 198, 68, 0.6);
}

.linkTertiary:hover {
  background: rgba(108, 198, 68, 0.5);
  border: 1px solid rgba(108, 198, 68, 1);
}
