.avatar {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  width: 10rem;
  height: 10rem;
  padding: 0.25rem;
  border-radius: 100%;
}

.avatar img {
  border-radius: 100%;
}
