.main {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  align-items: center;
}

.linkList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 1rem 0;
}

.linkList li {
  margin: 0.5rem 0;
  display: flex;
  width: 100%;
}

.link {
  width: 90%;
  max-width: 42rem;
  margin: auto;
}

.avatar {
  margin-bottom: 1rem;
}

.title {
  font-size: 2.25rem;
  font-weight: 800;
  text-align: center;
  margin: 0;
  margin-bottom: 0.75rem;
  padding: 0;
}

.description {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
}

.highlight {
  text-decoration: none;
  display: inline-block;
  color: inherit;
  position: relative;
  white-space: nowrap;
}